
*{
  font-family: 'Poppins', sans-serif;
}
body{
  margin:0;
  padding:0;
}

.landing-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.landing-page .background-image {
  object-fit: cover ;
  background-position: center;
  filter: brightness(0.35); 
  width: 100%;
  height: 100vh; 
  position: relative;
  z-index: 0;
}


.wrapper .landing-page .landing-page-container .menus .info-text{
  font-size: 1.2vw;
  color: white;
  margin: 30px 0px;
}
.menus.active .info-text{
  display: none;
}
.menus .info-text span{
  color: white;
}


.landing-page .landing-page-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}


.landing-page .landing-page-container #Title {
  font-size: 7vw ;
  margin: 0px;
  font-family: 'Racing Sans One', sans-serif;
  color: yellow;

}

.landing-page .landing-page-container #desc {
  font-size: 1.2vw;
  color: white;
  margin: 0px;
}

.landing-page .landing-page-container .menus{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
}


.landing-page .landing-page-container .menus .search{
  margin-top: 20px;
  position: relative;
  width : 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search input {
  color: black;
  width: 100%;
  outline: none;
  font-size: 16px;
  border: 2px solid white;
  padding: 20px 60px;
}

.search input:focus{
  border: 2px solid yellow;
}



.search input::placeholder{
  color: #B8B8B8;
  
}


.search :where(i, span){
  position: absolute;
  top: 50%;
  color: #999;
  transform: translateY(-50%);
}

.search i{
  width: 10%;
  left: 18px;
  pointer-events: none;
  font-size: 16px;
}
.search input:focus ~ i{
  color: black;
}
.search span{
  width : 10%;
  right: 15px;
  font-weight: bolder;
  cursor: pointer;
  font-size: 18px;
  display: none;
}
.search input:valid ~ span{
  display: block;
}




.landing-page-menu {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-self: end;
}

.landing-page-menu span {
  margin: 0 10px;
  font-size: 1.2vw;
  color: white;
  cursor: pointer;
}


.wrapper ul.search-result {
  height: 0;
  display: none;
  overflow-y: hidden;
  transition: all 0.2s ease;
}
.wrapper.active ul.search-result{
  display: block;
  height: auto;
  padding: 50px;
}

.wrapper ul.search-result li{
  display: flex;
  list-style: none;
  margin-bottom: 15px;
  align-items: center;
  padding-bottom: 5px;
  justify-content: start;
}
 




ul.search-result li:last-child{
  margin-bottom: 0;
  border-bottom: 0;
  padding-bottom: 0;
}

ul.search-result .word{
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 40%;
}

ul.search-result .word .details-top, ul.search-result .word .details-bottom {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

ul.search-result .word .details-top p{
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
  font-weight: semibold;
  margin-bottom: 10px;
  margin-top: 10px;
  
}

ul.search-result .word .details-top .fas{
  color: rgb(112, 112, 112);
  
}

ul.search-result .word hr{
  width: 100%;
  height: 5px;
  background-color:  yellow;
  border: none;
  margin-left: 0px;
  

}



ul.search-result .word .details-bottom span{
  font-size: 15px;
  
  font-weight: semibold;
  margin-top: 10px;
  color: rgb(112, 112, 112);
}

ul.search-result .word .details-bottom i{
  color: rgb(112, 112, 112);
}


ul.search-result .content{
  display: flex;
    flex-direction: column;
    justify-content: start;
    width: 80%;
    margin: 50px 0px;
    border: none;
    padding: 40px;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
}

ul.search-result .content .Type {
  padding: 0px 10px;
  width: 100px;
  height: 20px;
  font-size: 15px;
  font-weight: bold;
  background-color: yellow;
  display: flex;
  justify-content: center;
}

ul.search-result .content .Type p{
  width: 100%;
  height: 100%;
  
}


ul.search-result .content .meaning p, ul.search-result .content .example p, ul.search-result .content .synonyms p, ul.search-result .content .antonyms p {
  padding: 0px;
  font-size: 15px;
  font-weight: bold;
}




ul.search-result .content2{
  display: flex;
    flex-direction: column;
    justify-content: start;
    width: 80%;
    margin: 50px 0px;
    border: none;
    padding: 40px;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
}

ul.search-result .content2 .Type2 {
  padding: 0px 10px;
  width: 100px;
  height: 20px;
  font-size: 15px;
  font-weight: bold;
  background-color: yellow;
  display: flex;
  justify-content: center;
}

ul.search-result .content2 .Type2 p{
  width: 100%;
  height: 100%;
  
}



ul.search-result .content2 .meaning2 p, ul.search-result .content2 .example2 p, ul.search-result .content2 .synonyms2 p, ul.search-result .content2 .antonyms2 p {
  padding: 0px;
  font-size: 15px;
  font-weight: bold;
}


ul.search-result .content3{
  display: flex;
    flex-direction: column;
    justify-content: start;
    width: 80%;
    margin: 50px 0px;
    border: none;
    padding: 40px;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
}

ul.search-result .content3 .Type3 {
  padding: 0px 10px;
  width: 100px;
  height: 20px;
  font-size: 15px;
  font-weight: bold;
  background-color: yellow;
  display: flex;
  justify-content: center;
}

ul.search-result .content3 .Type p{
  width: 100%;
  height: 100%;
  
}



ul.search-result .content3 .meaning3 p, ul.search-result .content3 .example3 p, ul.search-result .content3 .synonyms3 p, ul.search-result .content3 .antonyms3 p {
  padding: 0px;
  font-size: 15px;
  font-weight: bold;
}

.bookmark-container{
  margin: 50px;
  display: none;
}


.bookmark-list{
  padding: 0px
}




.bookmark-list li{
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin : 30px 0px;
  padding: 20px;
  border: none;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
}

#history-list li .fa-trash{
  margin-right: 15px;
}

.history-container{
  margin: 50px;
  display: none;
}

.history-container p{
  font-size: 30px;
  font-weight: semibold;
  margin-bottom: 0px;
}


.history-container hr{
  display: block;
  width: 30%;
  height: 5px;
  background-color: yellow;
  border: none;
  text-align: left;
  margin-left: 0;
}






#history-list li{
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin : 30px 0px;
  padding: 20px;
  border: none;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
}

.bookmark-container #bookmark-pagename{
  font-size: 30px;
  font-weight: semibold;
  margin-bottom: 0px;
}

.bookmark-container hr{
  width: 30%;
  height: 5px;
  background-color: yellow;
  border: none;
  text-align: left;
  margin-left: 0;
}

.bookmark-list li .fa-trash{
  margin-right: 15px;
}

i{
  cursor : pointer;
}



@media only screen and (max-width: 768px) {
  .bookmark-list li{
    
    width: 70%;
    font-size: 13px;
    
  }

  #history-list li{
    width: 70%;
    font-size: 13px;


  }

  .landing-page-menu {
    margin-top: 10px;
  }

  
.wrapper .landing-page .landing-page-container .menus .info-text{
  margin: 15px 0px;
}

.landing-page .landing-page-container #desc {
  font-size: 1.5vw;
  
}
.wrapper .landing-page .landing-page-container .menus .info-text{
  font-size: 1.5vw;
  
}

.landing-page-menu span {
 
  font-size: 1.5vw;
  
}

.search input {
  width: 100%;
  font-size: 10px;
  padding: 10px 40px;
}

.search i{
  font-size: 10px;
}

.search span{
  font-size: 10px;
}

ul.search-result .word .details-top p{
  
  font-size: 30px;
  
}

ul.search-result .word .details-bottom span{
  font-size: 10px;
  
}

.history-container p{
  font-size: 20px;
}

.bookmark-container #bookmark-pagename{
  font-size: 20px;
  
}

.details{
  font-size: 12px;
}

ul.search-result .word{

  width: 100%;
}

.landing-page .landing-page-container .menus{
  width: 60%;
}

}




